* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e0ffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* header and nav style start */
header {
    background-color: #2f4f4f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 20px 40px 0px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #2f4f4f;
    background-color: #add8e6;
    padding: 8px 8px 8px 79px;
}

header a {
    text-decoration: none;
    color: #2f4f4f;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 30px;
    color:#add8e6;
    text-decoration: underline;
}

/* header and nav style end */

/* hero style start */
.hero {
    background-image: url('../images/hero\ background\ image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.hero-title h1 {
    background-color: #2f4f4f;
    color: #add8e6;
    margin: 0px 40px 20px;
    font-size: 46px;
}

.hero img {
    width: 400px;
    height: 430px;
    margin: 60px 0 20px;
}
/* hero style end */

/* about me style start*/
.flex {
    display: flex;
    align-items: center;
}

.flex h1 {
    font-size: 60px;
    font-style: bold;
    text-align: right;
    color: #2f4f4f;
    border-right: #2f4f4f solid;
    padding: 5px;
    margin-left: 279px;
}

.flex p {
    font-size: 50;
    padding-left: 10px;
    margin-left: 35px;
    margin-right: 300px;
    line-height: 1.5;
}
/* about me style end */

/* styling work section start */
.flex-work {
    display: flex;
    align-items: center;
}

.flex-work h1 {
    font-size: 60px;
    font-style: bold;
    text-align: right;
    color: #2f4f4f;
    border-right: #2f4f4f solid;
    padding: 5px;
    margin-left: 300px;
}

.flex-work a {
    text-decoration: none;
    color: #2f4f4f;
}

.flex-work img {
    width: 1090px;
    height: 400px;
    opacity: 75%;
    border: #2f4f4f solid 10px;
    margin: 50px;
}
/* styling work section end */

/* styling contact section start */
.flex-contact {
    display: flex;
    align-items: center;
}

.flex-contact h1 {
    font-size: 60px;
    font-style: bold;
    text-align: right;
    color: #2f4f4f;
    border-right: #2f4f4f solid;
    padding: 5px;
    margin-left: 228px;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.contact-info ul li a {
    padding: 16px;
    margin-left: 35px;
    margin-right: 8px;
}
/* styling contact section end */